.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: 100vw;
  justify-content: space-between;
}

.title {
  display: flex;
  margin: 10px;
  justify-content: flex-start;
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin: 10px;
  padding: 10px;

}