.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  justify-content: space-between;
  background-color: lightgray;
  border: 1px solid black;
}

.title {
  display: flex;
  margin: 10px;
  justify-content: flex-start;
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin: 10px;
  padding: 10px;
}

.cart-counter {
  position: relative;
  color: white;
  background: red;
  width: 24px;
  height: 24px;
  display: inline-block;
  border-radius: 12px;
  text-align: center;
  right: 5px;
}
